<div class="task-manager d-flex flex-column align-items-center justify-content-start p-4 bg-body-tertiary">
  <div class="card w-100 mb-4" style="max-width: 600px; width:100%;">
    <div class="card-body">
      <h1 class="card-title mb-3 text-center">Task Manager</h1>
      <nav class="mb-3 d-flex justify-content-center">
        <a [routerLink]="['/tasks/task-list']" routerLinkActive="active" class="mx-2">Task List</a>
      </nav>
      <router-outlet></router-outlet>
    </div>
  </div>
  <div class="w-100" style="max-width: 600px;">
  </div>
</div>
